<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/landingPage.css">
    <link rel="stylesheet" href="/ayurFood.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
     <header>
        <div class="logo">
            <img src="/image/logo.png">
            <h4 style="color: #196c7a;">Veda</h4><h4 style="color: #ff6a02;">care</h4>
        </div>
        <div class="tab">
            <ul type="none">
                <li><a href="http://localhost:8080/home">Home</a></li>
                <li><a href="http://localhost:8080/doctor">Doctors</a></li>
                <li><a href="http://localhost:8080/dhosa">Dosha calculatar</a></li>
                <li><a href="http://localhost:8080/home#deit">Diet Planner</a></li>
            </ul>
        </div>
        <div class="more"><i class="fa-solid fa-bars"></i></div>
    </header>
    <div class="nav-bar">
        <div class="Close"><i class="fa-solid fa-xmark"></i></div>
        <div class="user-detail">
            <div class="user-logo"></div>
            <div>
                <h2>Sumit Kumar</h2>
                <p>Welcome! You are in bar page</p>
            </div>
        </div>
        <div class="nav-bar-option">
            <button type="button" onclick="window.location.href='http://localhost:8080/allfood';">All Foods</button>
            <button type="button" onclick="window.location.href='http://localhost:8080/ayurFood';">Ayurvada view</button>
            <button type="button" onclick="window.location.href='http://localhost:8080/prot';">Nutrients view</button>
            <button type="button" onclick="window.location.href='http://localhost:8080/data';">Calculate Diet</button>
        </div>
    </div>
    <div class="all">
        <h1>Ayurvada View</h1>
        <div class="search">
            <input type="text" placeholder="search..">
            <select class="grains">
                <option>Grains</option>
                <option>Byy</option>
            </select>
            <select class="vegi">
                <option>Vegetable</option>
                <option>Byy</option>
            </select>
        </div>
        <div class="ayur-items">
            <div class="ayur-card">
                <img src="https://media.istockphoto.com/id/1310279351/photo/macro-close-up-of-organic-green-gram-or-whole-green-moong-dal-on-a-white-ceramic-soup-spoon.jpg?s=612x612&w=0&k=20&c=Egs5PIbNT46cLexABLLAwQ1mjp4cH6qGbYK3KYEkY3Q=" alt="">
                <h3 style="color: brown;">Moong Dal (Green Gram)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Sweet, Astringent</li>
                    <li><b>Vipaka:</b> Sweet</li>
                    <li><b>Virya:</b> Cooling</li>
                    <li><b>Digestibility:</b> Easy</li>
                    <li><b>Dosha Effects:</b> Vata: Pacifying | Pitta: Pacifying | Kapha: Pacifying</li>
                </ul>
            </div>

             <div class="ayur-card">
                <img src="https://media.istockphoto.com/id/173589620/photo/brown-rice.jpg?s=612x612&w=0&k=20&c=yvu1W2c5fj1Aa6lb-NvWQPXXmL__QWJqS2kGlhCfq0I=" alt="">
                <h3 style="color: brown;">Brown Rice</h3>
                <ul type="none">
                    <li><b>Rasa:</b>Sweet</li>
                    <li><b>Vipaka:</b> Sweet</li>
                    <li><b>Virya:</b> Cooling</li>
                    <li><b>Digestibility:</b> Moderate</li>
                    <li><b>Dosha Effects:</b> Vata: Pacifying | Pitta: Pacifying | Kapha:Increasing</li>
                </ul>
            </div>

             <div class="ayur-card">
                <img src="https://post.healthline.com/wp-content/uploads/2019/05/spinach-1296x728-header.jpg" alt="">
                <h3 style="color: brown;">Spinach(Palak)(Green Gram)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Sweet, Astringent</li>
                    <li><b>Vipaka:</b> Sweet</li>
                    <li><b>Virya:</b> Cooling</li>
                    <li><b>Digestibility:</b> Easy</li>
                    <li><b>Dosha Effects:</b> Vata: Pacifying | Pitta: Pacifying | Kapha:Increasing</li>
                </ul>
            </div>

             <div class="ayur-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv2VFFl1nUxTELnS6VO4mvkmA_ST0jSp3D_w&s" alt="">
                <h3 style="color: brown;">Curd(Dahi) (Green Gram)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Sweet,Sour</li>
                    <li><b>Vipaka:</b> Sour</li>
                    <li><b>Virya:</b> Cooling</li>
                    <li><b>Digestibility:</b>Moderate</li>
                    <li><b>Dosha Effects:</b> Vata: Pacifying | Pitta:Increasing | Kapha: Increasing<li>
                </ul>
            </div>

             <div class="ayur-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRThwdpK3SufSguubRNkk3v9Yp8tbPRzUO3rg&s" alt="">
                <h3 style="color: brown;">Carrot(Gajar)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Sweet, Astringent</li>
                    <li><b>Vipaka:</b> Sweet</li>
                    <li><b>Virya:</b> Cooling</li>
                    <li><b>Digestibility:</b> Easy</li>
                    <li><b>Dosha Effects:</b> Vata: Pacifying | Pitta: Pacifying | Kapha: Increasing<li>
                </ul>
            </div>

             <div class="ayur-card">
                <img src="https://urjaseeds.com/cdn/shop/products/cucumber-seeds-malaysia-t103m_1024x.jpg?v=1591175147" alt="">
                <h3 style="color: brown;">Cucumber(kheera)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Sweet, </li>
                    <li><b>Vipaka:</b> Sweet</li>
                    <li><b>Virya:</b> Cooling</li>
                    <li><b>Digestibility:</b> Easy</li>
                    <li><b>Dosha Effects:</b> Vata: Pacifying | Pitta: Pacifying | Kapha:Increasing</li>
                </ul>
            </div>

             <div class="ayur-card">
                <img src="https://4.imimg.com/data4/OF/HW/MY-1964066/1.jpg" alt="">
                <h3 style="color: brown;">Toor Dal(Arhar Dal)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Sweet, Astringent</li>
                    <li><b>Vipaka:</b> Sweet</li>
                    <li><b>Virya:</b> Heating</li>
                    <li><b>Digestibility:</b>Moderate</li>
                    <li><b>Dosha Effects:</b> Vata: Pacifying | Pitta: Pacifying | Kapha: Increasing</li>
                </ul>
            </div>

             <div class="ayur-card">
                <img src="https://www.jiomart.com/images/product/original/590004487/apple-indian-6-pcs-pack-approx-750-g-950-g-product-images-o590004487-p590004487-0-202501031744.jpg?im=Resize=(420,420)" alt="">
                <h3 style="color: brown;">Apple(Seb)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Sweet, Astringent</li>
                    <li><b>Vipaka:</b> Sweet</li>
                    <li><b>Virya:</b> Cooling</li>
                    <li><b>Digestibility:</b>Easy</li>
                    <li><b>Dosha Effects:</b> Vata: Pacifying | Pitta: Pacifying | Kapha: Increasing</li>
                </ul>
            </div>
            <div class="ayur-card">
                <img src="https://t4.ftcdn.net/jpg/05/30/96/79/240_F_530967928_Tm7IT66jpGrnp0bIZCyPmJqGrVpjo6Ec.jpg" alt="">
                <h3 style="color: brown;">Wheat(Gehu)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Sweet</li>
                    <li><b>Vipaka:</b> Sweet</li>
                    <li><b>Virya:</b> Cooling</li>
                    <li><b>Digestibility:</b>Moderate</li>
                    <li><b>Dosha Effects:</b> Vata:  Pacifying | Pitta:Increasing| Kapha: Increasing</li>
                </ul>
            </div>
            <div class="ayur-card">
                <img src="https://media.istockphoto.com/id/1283613281/photo/bounch-of-bottle-gaurd-vegetable.jpg?s=612x612&w=0&k=20&c=q2gGsRoS3WBf82-rcV92M_iED3CSHzht5JFGj-BkSZo=" alt="">
                <h3 style="color: brown;">Bottle Gourd(Lauki)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Sweet</li>
                    <li><b>Vipaka:</b> Sweet</li>
                    <li><b>Virya:</b> Cooling</li>
                    <li><b>Digestibility:</b>Easy</li>
                    <li><b>Dosha Effects:</b> Vata:  Pacifying | Pitta:Pacifying| Kapha: Pacifying</li>
                </ul>
            </div>
            <div class="ayur-card">
                <img src="https://ayurwiki.org/images/thumb/c/cc/Runny_hunny.jpg/300px-Runny_hunny.jpg" alt="">
                <h3 style="color: brown;">Honey(Madhu)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Sweet,Astringent</li>
                    <li><b>Vipaka:</b> Sweet</li>
                    <li><b>Virya:</b> Haeting</li>
                    <li><b>Digestibility:</b>Easy</li>
                    <li><b>Dosha Effects:</b> Vata:  Pacifying | Pitta:Increasing| Kapha: Pacifying</li>
                </ul>
            </div>
            <div class="ayur-card">
                <img src="https://png.pngtree.com/thumb_back/fh260/background/20240624/pngtree-sahaj-turmeric-powder-haldi-powder-natural-haldi-selam-haldi-powder-white-image_15807228.jpg" alt="">
                <h3 style="color: brown;">Turmeric(Haldi)</h3>
                <ul type="none">
                    <li><b>Rasa:</b> Bitter,Pungent</li>
                    <li><b>Vipaka:</b>Pungent</li>
                    <li><b>Virya:</b> Heating</li>
                    <li><b>Digestibility:</b>Easy</li>
                    <li><b>Dosha Effects:</b> Vata:  Pacifying | Pitta:Increasing| Kapha: Pacifying</li>
                </ul>
            </div>
        </div>
    </div>
    <%-include("includes/footer.ejs")%>
    <script src="/landingPage.js"></script>
</body>
</html>