<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/data.css">
    <link rel="stylesheet" href="/landingPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
        <!-- <div>
            <p>protien: 20</p>
            <p>fat:15</p>
            <button class="one">Add</button>
        </div>
        <hr>
        <div>
            <p>protien: 10</p>
            <p>fat:30<p>
            <button class="two">Add</button>
        </div>         -->

    <header>
        <div class="logo">
            <img src="/image/logo.png">
            <h4 style="color: #196c7a;">Veda</h4><h4 style="color: #ff6a02;">care</h4>
        </div>
        <div class="tab">
            <ul type="none">
                <li><a href="http://localhost:8080/home">Home</a></li>
                <li><a href="http://localhost:8080/doctor">Doctors</a></li>
                <li><a href="http://localhost:8080/dhosa">Dosha calculatar</a></li>
                <li><a href="http://localhost:8080/home#deit">Diet Planner</a></li>
            </ul>
        </div>
        <div class="more"><i class="fa-solid fa-bars"></i></div>
    </header>
    <div class="nav-bar">
        <div class="Close"><i class="fa-solid fa-xmark"></i></div>
        <div class="user-detail">
            <div class="user-logo"></div>
            <div>
                <h2>Sumit Kumar</h2>
                <p>Welcome! You are in bar page</p>
            </div>
        </div>
        <div class="nav-bar-option">
            <button type="button" onclick="window.location.href='http://localhost:8080/allfood';">All Foods</button>
            <button type="button" onclick="window.location.href='http://localhost:8080/ayurFood';">Ayurvada view</button>
            <button type="button" onclick="window.location.href='http://localhost:8080/prot';">Nutrients view</button>
            <button type="button" onclick="window.location.href='http://localhost:8080/data';">Calculate Diet</button>
        </div>
    </div>


    <div>
        <h1>Calculate Your Nutrients </h1>
    </div>
    
    <section>
        <div class="add-card">
            <img src="https://c.ndtvimg.com/2023-07/2k660c8g_green-moong_625x300_12_July_23.jpg?im=FeatureCrop,algorithm=dnn,width=1200,height=675" class="add-card-img"></img>
            <div class="add-card-data">
                <h2>Moong Dal (Green Gram)</h2>
                <h4>Nutritional Data (per 100g)</h4>
                <ul type="none">
                    <li>Calories: 347</li>
                    <li>Carbs: 63g</li>
                    <li>Protein: 24g</li>
                    <li>Fat: 1.2g</li>
                    <li>Fiber: 8g</li>
                    <li>Calcium: 132mg</li>
                    <li>Iron: 6.7mg</li>
                    <li>Magnesium: 189mg</li>
                </ul>
                <button class="one">Add</button>
            </div>
        </div>

        <div class="add-card">
            <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/6234/e36f5dc7-eb31-45f8-b2cf-c5e0483ef0ff.jpg" class="add-card-img"></img>
            <div class="add-card-data">
                <h2>Brown Rice</h2>
                <h4>Nutritional Data (per 100g)</h4>
                <ul type="none">
                    <li>Calories: 111</li>
                    <li>Carbs: 23g</li>
                    <li>Protein: 2.6g</li>
                    <li>Fat: 0.9g</li>
                    <li>Fiber: 1.8g</li>
                    <li>Calcium: 10mg</li>
                    <li>Iron: 0.4mg</li>
                    <li>Magnesium: 43mg</li>
                </ul>
                <button class="two">Add</button>
            </div>
        </div>

        <div class="add-card">
            <img src="https://www.greendna.in/cdn/shop/files/palak2_1200x1200.jpg?v=1715600291" class="add-card-img"></img>
            <div class="add-card-data">
                <h2>Spinach (Palak)</h2>
                <h4>Nutritional Data (per 100g)</h4>
                <ul type="none">
                    <li>Calories: 23</li>
                    <li>Carbs: 3.6g</li>
                    <li>Protein: 2.9g</li>
                    <li>Fat: 0.4g</li>
                    <li>Fiber: 2.2g</li>
                    <li>Calcium: 99mg</li>
                    <li>Iron: 2.7mg</li>
                    <li>Magnesium: 79mg</li>
                </ul>
                <button class="three">Add</button>
            </div>
        </div>

        <div class="add-card">
            <img src="https://nutritionmeetsfoodscience.com/wp-content/uploads/2023/05/a4.png" class="add-card-img"></img>
            <div class="add-card-data">
                <h2>Curd (Dahi)</h2>
                <h4>Nutritional Data (per 100g)</h4>
                <ul type="none">
                    <li>Calories: 98</li>
                    <li>Carbs: 3.4g</li>
                    <li>Protein: 11g</li>
                    <li>Fat: 4.3g</li>
                    <li>Fiber: 0g</li>
                    <li>Calcium: 83mg</li>
                    <li>Iron: 0.1mg</li>
                    <li>Magnesium: 11mg</li>
                </ul>
                <button class="four">Add</button>
            </div>
        </div>

        <div class="add-card">
            <img src="https://image.myupchar.com/395/original/gajar-ke-fayde-in-hindi-1.jpg" class="add-card-img"></img>
            <div class="add-card-data">
                <h2>Carrot (Gajar)</h2>
                <h4>Nutritional Data (per 100g)</h4>
                <ul type="none">
                    <li>Calories: 41</li>
                    <li>Carbs: 9.6g</li>
                    <li>Protein: 0.9g</li>
                    <li>Fat: 0.2g</li>
                    <li>Fiber: 2.8g</li>
                    <li>Calcium: 33mg</li>
                    <li>Iron: 0.3mg</li>
                    <li>Magnesium: 12mg</li>
                </ul>
                <button class="five">Add</button>
            </div>
        </div>

        <div class="add-card">
            <img src="https://www.jiomart.com/images/product/original/590000259/cucumber-kheera-500-g-product-images-o590000259-p590000259-0-202411140941.jpg?im=Resize=(420,420)" class="add-card-img"></img>
            <div class="add-card-data">
                <h2>Cucumber (Kheera)</h2>
                <h4>Nutritional Data (per 100g)</h4>
                <ul type="none">
                    <li>Calories: 15</li>
                    <li>Carbs: 3.6g</li>
                    <li>Protein: 0.7g</li>
                    <li>Fat: 0.1g</li>
                    <li>Fiber: 0.5g</li>
                    <li>Calcium: 16mg</li>
                    <li>Iron: 0.3mg</li>
                    <li>Magnesium: 13mg</li>
                </ul>
                <button class="six">Add</button>
            </div>
        </div>

        <div class="add-card">
            <img src="https://blog-images-1.pharmeasy.in/blog/production/wp-content/uploads/2022/02/10115631/Toor-Dal.jpg" class="add-card-img"></img>
            <div class="add-card-data">
                <h2>Tur Dal (Arhar Dal)</h2>
                <h4>Nutritional Data (per 100g)</h4>
                <ul type="none">
                    <li>Calories: 335</li>
                    <li>Carbs: 62g</li>
                    <li>Protein: 22g</li>
                    <li>Fat: 1.5g</li>
                    <li>Fiber: 8g</li>
                    <li>Calcium: 73mg</li>
                    <li>Iron: 5.8mg</li>
                    <li>Magnesium: 110mg</li>
                </ul>
                <button class="seven">Add</button>
            </div>
        </div>

        <div class="add-card">
            <img src="https://image.myupchar.com/1484/webp/apple-khane-ke-fayde-hindi-me-2.webp" class="add-card-img"></img>
            <div class="add-card-data">
                <h2>Apple (Seb)</h2>
                <h4>Nutritional Data (per 100g)</h4>
                <ul type="none">
                    <li>Calories: 52</li>
                    <li>Carbs: 14g</li>
                    <li>Protein: 0.3g</li>
                    <li>Fat: 0.2g</li>
                    <li>Fiber: 2.4g</li>
                    <li>Calcium: 6mg</li>
                    <li>Iron: 0.1mg</li>
                    <li>Magnesium: 5mg</li>
                </ul>
                <button class="eight">Add</button>
            </div>
        </div>
    </section>

    <form action="/save-sum" method="POST">
        <input type="hidden" name="sum" id="sumInput">
        <input type="hidden" name="sum2" id="sumInput2">
        <input type="hidden" name="sum3" id="sumInput3">
        <input type="hidden" name="sum4" id="sumInput4">
        <input type="hidden" name="sum5" id="sumInput5">
        <input type="hidden" name="sum6" id="sumInput6">
        <input type="hidden" name="sum7" id="sumInput7">
        <input type="hidden" name="sum8" id="sumInput8">
        <button type="submit" class="add">Calculate Sum</button>
    </form>
    <button class="back" onclick="window.location.href='http://localhost:8080/home';">Back</button>
    <%-include("includes/footer.ejs")%>
    
    <script src="/data.js"></script>
    <script src="/landingPage.js"></script>
</body>

</html>