<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/signUp.css">
</head>
<body>
    <div class="login_box">
        <form action="/server">
            <div><div class="user_logo"></div></div>
            <div><input type="input" placeholder="username" name="user"></div>
            <div><input type="password" placeholder="password" name="password"></div>
            <div><input type="gamil" placeholder="gmail" name="gmail"></div>
            <div><input type="number" placeholder="number" name="number"></div>
            <div class="btn-box">
                <a href="http://localhost:8080/signIn"><button type="button">Sign In</button></a>
                <a href="http://localhost:8080/home"><button type="button">Sing Up</button></a>
            </div>
        </form>
    </div>
</body>
</html>